* {
    box-sizing: border-box;
    font-size: 62.5%;

    --main-color: #239a3b;
    color: white;
    font-weight: 500;
}

body {
    font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;
    background-color: #111827;
    overflow-x: hidden;
}

body ::selection {
    color: white;
    background-color: var(--main-color);
}

button {
    font-family: inherit;
}
a {
    color: black;
    text-decoration: none;
}
/* Common CSS  */
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.btn {
    font-weight: 500;
    font-size: 1rem;
    border: transparent;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 9999px;
    cursor: pointer;
    background-color: var(--main-color);
}

.btn--sub {
    color: black;
    background-color: white;
    font-weight: 500;
    font-size: 1rem;
    border: transparent;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 9999px;
    cursor: pointer;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* End Common */
.container {
    width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
}

header {
    margin-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar_wrapper {
    display: flex;
}

.navbar__social {
    display: flex;
    gap: 16px;
    align-items: center;
}

.social__link img {
    width: 1.5rem;
    background: transparent;
    filter: brightness(0) saturate(100%) invert(43%) sepia(0%) saturate(2587%)
        hue-rotate(336deg) brightness(96%) contrast(94%);
    transition: filter 0.3s;
}

.social__link img:hover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(96%) saturate(394%)
        hue-rotate(81deg) brightness(93%) contrast(89%);
}

.navbar__link {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.navbar__link--link {
    color: #9ca3af;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
}

.navbar__link--link:hover {
    color: var(--main-color);
}

.navbar__blog {
    margin-left: 36px;
}

.btn_portfolio {
    padding-bottom: 0.6rem;
    padding-left: 1.2rem;
    margin-left: 36px;
}

.btn_portfolio:hover {
    scale: 1.06;
    background-color: rgb(22, 101, 52);
}

.btn_contact {
    color: #111827;
    background-color: white;
    padding-bottom: 0.6rem;
    margin-left: 12px;
}

/* Hero */

.hero {
    width: 100vw;
    max-width: 1170px;
    display: flex;
    max-height: 80vh;
    margin: 0 auto;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.dot-pattern {
    position: absolute;
    height: 60%;
    z-index: 0;
    right: 100%;
    transform: translate(-12px, -16px) scaleY(1.2) scaleX(1.23);
}

.text-primary {
    color: #5ace71;
    opacity: 0.25;
}

.hero__text {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
}

.hero__heading {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    height: fit-content;
    font-size: 3.75rem;
    line-height: 1.15;
    color: white;
    font-weight: 800;
    text-align: left;
}

.hero__desc {
    animation: 0.7s ease-out 0s 1 slideInFromLeft;
    margin-top: 32px;
    color: #d1d5db;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.hero__button {
    animation: 0.85s ease-out 0s 1 slideInFromLeft;
    display: flex;
    margin-top: 32px;
}

.hero__media {
    margin-top: 30px;
    margin-left: 30px;
}

.hero__heading--specical {
    color: rgb(35, 154, 59);
}

.hero__img {
    border-radius: 999em 40px 40px 999em;
    width: 200%;
}

.btn_work {
    padding: 0.5rem 5rem;
    margin-left: unset;
}

.btn_get-in-touch {
    margin-left: 20px;
    padding: 0.8rem 5rem;
}

.btn:hover {
    scale: 1.06;
}

.about {
    position: relative;
}

.about__header {
    color: rgb(35, 154, 59);
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
    margin-bottom: 2rem;
    text-align: center;
    margin-top: 40px;
}

.about__quote {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-20%) translateY(30%);
}

.quote__icon {
    width: 130px;
    height: 130px;
    background: transparent;
    filter: brightness(0) saturate(100%) invert(49%) sepia(15%) saturate(2274%)
        hue-rotate(80deg) brightness(95%) contrast(87%);
    opacity: 0.5;
}

.dot__pattern--small {
    position: absolute;
    top: 50%;
    right: -12%;
    transform: translateY(-50%) translateX(10%) scaleY(1.3) scaleX(2);
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1;
    position: relative;
    margin-top: 80px;
}

.about__text {
    margin: 0 auto;
}

.about__text p:nth-child(2) {
    margin-top: 40px;
}

.about_desc {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(243, 244, 246);
}

.about__media {
    margin-left: 40px;
    width: 100%;
    border-radius: 9999px;
}

.about__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__link button {
    padding: 0.8rem 1.5rem;
}
.btn__resume {
    margin-left: 40px;
}

/* Tools */

.tools {
    margin-top: 64px;
    width: 100%;
}

.tools__header {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--main-color);
    letter-spacing: -0.025em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.tools_carousel {
    overflow: hidden;
    white-space: nowrap;
}

.tools__list {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.tool_item {
    display: inline-block;
    padding: 10px 0px;
}

.tool_item img {
    width: 60px;
    height: 60px;
    margin: 0px 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.tools:hover .tools__list {
    animation-play-state: paused;
}

.tool_item img:hover ~ h4 {
    opacity: 1;
    visibility: visible;
}

.tool_item img:hover {
    scale: 1.2;
}
.tool_item h4 {
    text-align: center;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 12px;
    font-size: 1.2rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.projects {
    margin-top: 80px;
}
.projects__header {
    font-weight: 600;
    color: var(--main-color);
    font-size: 1.8rem;
    text-align: center;
}

.projects__desc {
    margin: 50px 0px;
    color: rgb(209 213 219);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}

.project__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 60px;
    min-height: 400px;
}

.project__img {
    width: 100%;
    border-radius: 20px;
    max-height: 300px;
    transition: all 0.5s;
    cursor: pointer;
}

.project__img:hover {
    scale: 1.1;
}

.project__content {
    background-color: rgb(55, 65, 81);
    padding: 20px;
    height: fit-content;
    min-height: 200px;
    border-radius: 20px;
}

.project__info {
    text-align: center;
}

.project__details {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(229 231 235);
    font-weight: 500;
}

.project__name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(229 231 235);
    font-weight: 600;
    color: var(--main-color);
    margin-top: 4px;
}

.project__desc {
    text-align: center;
    margin-top: 12px;
    color: rgb(209 213 219);
    font-size: 1rem;
    line-height: 1.5rem;
}

.project__tools {
    text-align: center;
}
.project__tools h4 {
    color: var(--main-color);
    font-weight: 600;
    margin: 16px 0px;
}

.project__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn__link--demo {
    margin-left: unset;
}
